.DS_Store
.idea
.pyc
__pycache__
tmp.py
droc-release/droc
*.mar
model-code/data
model-code/venv
model-code/logs
*.bin
visualization-old/node_modules
coref.zip
model-code/droc_c2f_test1
model-code/local.conf
venv
**/vectors.txt
**/vectors_full.txt