.App {
  text-align: justify;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 50px;
  padding-top: 70px;
}

.result--boundaries .document {
  border: 1px solid black;
  padding: 0 5px;
  margin: 5px;
}

.result {
  width: 50vw;
}

.controls {
  position: fixed;
  background: white;
  width: 100vw;
}